---
import Layout from '../layouts/Layout.astro'
import '../styles/index.css'
import Navbar from 'components/nav/Navbar.astro'
---

<Layout title='Welcome to Astro.'>
    <header>
        <Navbar />
    </header>
    <main></main>
</Layout>

<style>
    main {
        display: grid;
        height: 100dvh;
        grid-template-areas:
            'header'
            'content';
        grid-template-rows: var(--header-height, auto) 1fr;
    }
</style>
