<div class="social-bar">
    <a href="https://www.github.com/joshuaaron">
        <svg id="github-icon" width="32" height="32" viewBox="0 0 40 40" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path
                d="M32.2078 11.8625C32.6023 10.6551 32.7376 9.378 32.6049 8.11471C32.4721 6.85142 32.0743 5.63035 31.4375 4.53127C31.3552 4.38867 31.2367 4.27026 31.0941 4.18797C30.9515 4.10568 30.7897 4.06242 30.625 4.06252C29.1911 4.05934 27.777 4.39783 26.4999 5.04996C25.2228 5.70209 24.1195 6.64908 23.2812 7.81252H19.2188C18.3805 6.64908 17.2772 5.70209 16.0001 5.04996C14.723 4.39783 13.3089 4.05934 11.875 4.06252C11.7103 4.06242 11.5485 4.10568 11.4059 4.18797C11.2633 4.27026 11.1448 4.38867 11.0625 4.53127C10.4257 5.63035 10.0279 6.85142 9.89515 8.11471C9.76241 9.378 9.8977 10.6551 10.2922 11.8625C9.50117 13.1904 9.07683 14.7045 9.0625 16.25V17.5C9.06525 19.6408 9.88071 21.7006 11.344 23.2631C12.8073 24.8256 14.8094 25.7743 16.9453 25.9172C15.8965 27.0177 15.3118 28.4798 15.3125 30V31.5625H11.25C10.1726 31.5625 9.13925 31.1345 8.37738 30.3726C7.61551 29.6108 7.1875 28.5775 7.1875 27.5C7.1875 25.9253 6.56194 24.4151 5.44845 23.3016C4.33495 22.1881 2.82472 21.5625 1.25 21.5625C1.00136 21.5625 0.762903 21.6613 0.587087 21.8371C0.411272 22.0129 0.3125 22.2514 0.3125 22.5C0.3125 22.7487 0.411272 22.9871 0.587087 23.1629C0.762903 23.3387 1.00136 23.4375 1.25 23.4375C2.32744 23.4375 3.36075 23.8655 4.12262 24.6274C4.88449 25.3893 5.3125 26.4226 5.3125 27.5C5.3125 29.0747 5.93806 30.585 7.05155 31.6985C8.16505 32.812 9.67528 33.4375 11.25 33.4375H15.3125V36.25C15.3125 36.4987 15.4113 36.7371 15.5871 36.9129C15.7629 37.0887 16.0014 37.1875 16.25 37.1875C16.4986 37.1875 16.7371 37.0887 16.9129 36.9129C17.0887 36.7371 17.1875 36.4987 17.1875 36.25V30C17.1875 28.9226 17.6155 27.8893 18.3774 27.1274C19.1392 26.3655 20.1726 25.9375 21.25 25.9375C22.3274 25.9375 23.3608 26.3655 24.1226 27.1274C24.8845 27.8893 25.3125 28.9226 25.3125 30V36.25C25.3125 36.4987 25.4113 36.7371 25.5871 36.9129C25.7629 37.0887 26.0014 37.1875 26.25 37.1875C26.4986 37.1875 26.7371 37.0887 26.9129 36.9129C27.0887 36.7371 27.1875 36.4987 27.1875 36.25V30C27.1882 28.4798 26.6035 27.0177 25.5547 25.9172C27.6906 25.7743 29.6927 24.8256 31.156 23.2631C32.6193 21.7006 33.4348 19.6408 33.4375 17.5V16.25C33.4232 14.7045 32.9988 13.1904 32.2078 11.8625ZM31.5625 17.5C31.5625 19.2405 30.8711 20.9097 29.6404 22.1404C28.4097 23.3711 26.7405 24.0625 25 24.0625H17.5C15.7595 24.0625 14.0903 23.3711 12.8596 22.1404C11.6289 20.9097 10.9375 19.2405 10.9375 17.5V16.25C10.9539 14.9322 11.3499 13.647 12.0781 12.5485C12.1738 12.4215 12.2356 12.2723 12.2578 12.1148C12.2799 11.9574 12.2616 11.7969 12.2047 11.6485C11.8509 10.735 11.6882 9.75877 11.7266 8.77999C11.7651 7.80121 12.0038 6.8407 12.4281 5.95783C13.5388 6.04162 14.6146 6.38324 15.5702 6.95554C16.5258 7.52785 17.3347 8.31508 17.9328 9.25471C18.0176 9.38747 18.1345 9.49672 18.2727 9.57236C18.4109 9.64801 18.5659 9.68762 18.7234 9.68752H23.7766C23.934 9.68778 24.0889 9.64842 24.227 9.57305C24.3652 9.49768 24.4822 9.38874 24.5672 9.25627C25.1649 8.31618 25.9738 7.52852 26.9294 6.95591C27.885 6.38331 28.961 6.04156 30.0719 5.95783C30.4962 6.8407 30.7349 7.80121 30.7734 8.77999C30.8118 9.75877 30.6491 10.735 30.2953 11.6485C30.2385 11.7962 30.22 11.956 30.2416 12.1128C30.2632 12.2696 30.3241 12.4184 30.4187 12.5453C31.1493 13.6441 31.5465 14.9307 31.5625 16.25V17.5Z"
            ></path>
        </svg>
    </a>
    <a href="https://www.instagram.com/joshcodes_">
        <svg id="ig-icon" width="32" height="32" viewBox="0 0 40 40" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path
                d="M20 12.8125C18.5784 12.8125 17.1888 13.234 16.0068 14.0238C14.8249 14.8136 13.9036 15.9361 13.3596 17.2495C12.8156 18.5628 12.6733 20.008 12.9506 21.4022C13.2279 22.7964 13.9125 24.0771 14.9177 25.0823C15.9229 26.0875 17.2036 26.7721 18.5978 27.0494C19.992 27.3267 21.4372 27.1844 22.7505 26.6404C24.0639 26.0964 25.1864 25.1751 25.9762 23.9932C26.766 22.8112 27.1875 21.4216 27.1875 20C27.185 18.0945 26.427 16.2678 25.0796 14.9204C23.7322 13.573 21.9055 12.815 20 12.8125ZM20 25.3125C18.9493 25.3125 17.9222 25.0009 17.0485 24.4172C16.1749 23.8334 15.494 23.0037 15.0919 22.033C14.6898 21.0623 14.5846 19.9941 14.7896 18.9636C14.9946 17.9331 15.5005 16.9865 16.2435 16.2435C16.9865 15.5005 17.9331 14.9946 18.9636 14.7896C19.9941 14.5846 21.0623 14.6898 22.033 15.0919C23.0037 15.494 23.8334 16.1749 24.4172 17.0485C25.0009 17.9222 25.3125 18.9493 25.3125 20C25.3125 21.409 24.7528 22.7602 23.7565 23.7565C22.7602 24.7528 21.409 25.3125 20 25.3125ZM27.5 4.0625H12.5C10.263 4.06498 8.11833 4.95473 6.53653 6.53653C4.95473 8.11833 4.06498 10.263 4.0625 12.5V27.5C4.06498 29.737 4.95473 31.8817 6.53653 33.4635C8.11833 35.0453 10.263 35.935 12.5 35.9375H27.5C29.737 35.935 31.8817 35.0453 33.4635 33.4635C35.0453 31.8817 35.935 29.737 35.9375 27.5V12.5C35.935 10.263 35.0453 8.11833 33.4635 6.53653C31.8817 4.95473 29.737 4.06498 27.5 4.0625ZM34.0625 27.5C34.0625 29.2405 33.3711 30.9097 32.1404 32.1404C30.9097 33.3711 29.2405 34.0625 27.5 34.0625H12.5C10.7595 34.0625 9.09032 33.3711 7.85961 32.1404C6.6289 30.9097 5.9375 29.2405 5.9375 27.5V12.5C5.9375 10.7595 6.6289 9.09032 7.85961 7.85961C9.09032 6.6289 10.7595 5.9375 12.5 5.9375H27.5C29.2405 5.9375 30.9097 6.6289 32.1404 7.85961C33.3711 9.09032 34.0625 10.7595 34.0625 12.5V27.5ZM29.6875 11.875C29.6875 12.184 29.5959 12.4861 29.4242 12.7431C29.2525 13 29.0085 13.2003 28.7229 13.3186C28.4374 13.4368 28.1233 13.4678 27.8202 13.4075C27.5171 13.3472 27.2387 13.1984 27.0201 12.9799C26.8016 12.7613 26.6528 12.4829 26.5925 12.1798C26.5322 11.8767 26.5632 11.5626 26.6814 11.2771C26.7997 10.9915 27 10.7475 27.2569 10.5758C27.5139 10.4041 27.816 10.3125 28.125 10.3125C28.5394 10.3125 28.9368 10.4771 29.2299 10.7701C29.5229 11.0632 29.6875 11.4606 29.6875 11.875Z"
            ></path>
        </svg>
    </a>
    <a href="https://www.linkedin.com/in/joshreynolds90/">
        <svg id="linkedin-icon" width="32" height="32" viewBox="0 0 40 40" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path
                d="M33.75 4.0625H6.25C5.66984 4.0625 5.11344 4.29297 4.7032 4.7032C4.29297 5.11344 4.0625 5.66984 4.0625 6.25V33.75C4.0625 34.3302 4.29297 34.8866 4.7032 35.2968C5.11344 35.707 5.66984 35.9375 6.25 35.9375H33.75C34.3302 35.9375 34.8866 35.707 35.2968 35.2968C35.707 34.8866 35.9375 34.3302 35.9375 33.75V6.25C35.9375 5.66984 35.707 5.11344 35.2968 4.7032C34.8866 4.29297 34.3302 4.0625 33.75 4.0625ZM34.0625 33.75C34.0625 33.8329 34.0296 33.9124 33.971 33.971C33.9124 34.0296 33.8329 34.0625 33.75 34.0625H6.25C6.16712 34.0625 6.08763 34.0296 6.02903 33.971C5.97042 33.9124 5.9375 33.8329 5.9375 33.75V6.25C5.9375 6.16712 5.97042 6.08763 6.02903 6.02903C6.08763 5.97042 6.16712 5.9375 6.25 5.9375H33.75C33.8329 5.9375 33.9124 5.97042 33.971 6.02903C34.0296 6.08763 34.0625 6.16712 34.0625 6.25V33.75ZM14.6875 17.5V27.5C14.6875 27.7486 14.5887 27.9871 14.4129 28.1629C14.2371 28.3387 13.9986 28.4375 13.75 28.4375C13.5014 28.4375 13.2629 28.3387 13.0871 28.1629C12.9113 27.9871 12.8125 27.7486 12.8125 27.5V17.5C12.8125 17.2514 12.9113 17.0129 13.0871 16.8371C13.2629 16.6613 13.5014 16.5625 13.75 16.5625C13.9986 16.5625 14.2371 16.6613 14.4129 16.8371C14.5887 17.0129 14.6875 17.2514 14.6875 17.5ZM28.4375 21.875V27.5C28.4375 27.7486 28.3387 27.9871 28.1629 28.1629C27.9871 28.3387 27.7486 28.4375 27.5 28.4375C27.2514 28.4375 27.0129 28.3387 26.8371 28.1629C26.6613 27.9871 26.5625 27.7486 26.5625 27.5V21.875C26.5625 20.9633 26.2003 20.089 25.5557 19.4443C24.911 18.7997 24.0367 18.4375 23.125 18.4375C22.2133 18.4375 21.339 18.7997 20.6943 19.4443C20.0497 20.089 19.6875 20.9633 19.6875 21.875V27.5C19.6875 27.7486 19.5887 27.9871 19.4129 28.1629C19.2371 28.3387 18.9986 28.4375 18.75 28.4375C18.5014 28.4375 18.2629 28.3387 18.0871 28.1629C17.9113 27.9871 17.8125 27.7486 17.8125 27.5V17.5C17.8125 17.2514 17.9113 17.0129 18.0871 16.8371C18.2629 16.6613 18.5014 16.5625 18.75 16.5625C18.9986 16.5625 19.2371 16.6613 19.4129 16.8371C19.5887 17.0129 19.6875 17.2514 19.6875 17.5V17.8297C20.4601 17.174 21.4042 16.7529 22.4082 16.6162C23.4123 16.4795 24.4346 16.6328 25.3544 17.0581C26.2742 17.4833 27.0532 18.1627 27.5994 19.0162C28.1457 19.8697 28.4365 20.8617 28.4375 21.875ZM15.3125 13.125C15.3125 13.434 15.2209 13.7361 15.0492 13.9931C14.8775 14.25 14.6335 14.4503 14.3479 14.5686C14.0624 14.6868 13.7483 14.7178 13.4452 14.6575C13.1421 14.5972 12.8637 14.4484 12.6451 14.2299C12.4266 14.0113 12.2778 13.7329 12.2175 13.4298C12.1572 13.1267 12.1882 12.8126 12.3064 12.5271C12.4247 12.2415 12.625 11.9975 12.8819 11.8258C13.1389 11.6541 13.441 11.5625 13.75 11.5625C14.1644 11.5625 14.5618 11.7271 14.8549 12.0201C15.1479 12.3132 15.3125 12.7106 15.3125 13.125Z"
            ></path>
        </svg>
    </a>

    <style>
        .social-bar {
            justify-self: end;
            height: max-content;
            display: inline-flex;
            gap: 2rem;
            padding-block: 1rem;
        }

        a {
            display: block;
        }

        svg {
            --stroke: var(--color-text);
            align-self: start;
            width: 40px;
            color: var(--stroke);

            &:hover {
                --stroke: var(--color-primary);
            }
        }
    </style>
</div>
