---
import Container from '../Container.astro'
import Logo from '../Logo.astro'
---

<Container>
    <nav>
        <Logo />
        <ul class='nav-items'>
            <li>Templates</li>
            <li>About</li>
            <li>Contact</li>
        </ul>
    </nav>
</Container>

<style>
    nav {
        height: 60px;
        grid-area: gutter;
        display: grid;
        align-items: center;
        grid-template-columns: 1fr;
    }

    .nav-items {
        display: flex;
        align-items: center;
        gap: 3rem;
        color: var(--color-text);
    }
</style>
